* {
  -webkit-tap-highlight-color: transparent;
}
.tap_container {
  display: flex;
  flex-direction: column;
  background: rgb(115, 0, 255);
  width: 100%;
  height: auto;
  position: relative;
  align-items: center;
  font-family:  sans-serif;
  padding: 20px;
}

.username_and_tap {
  height: auto;
  background: white;
}

.tap_part {
  border-radius: 20px;
  height: 600px;
  width: 450px;
  text-align: center;
}

.profit {
  border-radius: 15px;
  width: 300px;
  height: 80px;
  align-items: center;
  margin: auto;
    text-align: center;
  font-family: sans-serif;
  justify-content: center;
  display: flex;
  gap: 10px;
  background: rgb(255, 252, 163);
}

.profit h3 {
  font-size: 1.5em;
  color: #333;
}

.tap_all_coins_part {
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.tap_all_coins_part p {
  display: inline;
  font-size: 1.3em;
  color: #333;
}

.big_tap_btn_part {
  background: url('');
  margin-bottom: 20px;
  position: relative;
}

.big_tap_btn_part .big_tap_btn {
  width: 300px;
  height: 290px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border-radius: 10px;
}

/* Home.css */
.click-effect {
  position: absolute;
  background-color: #ddd;
  color: #000;
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 50%;
  pointer-events: none; /* Ensure it does not block clicks */
  transition: opacity 1s;
  opacity: 1;
}


@keyframes clickEffectAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.boost_coin_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  color: white;
  width: 450px;
}

.boost_info {
  margin: auto;
  display: flex;
  color: #333;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.boost_info svg {
  background: yellow;
}

.boost_info span {
  font-weight: 800;
  margin: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  margin: 50px 0 0 0;
  background-color: #333;
  color: white;
  max-height: 85px;
  font-size: 15px;
}

.footer-item {
  height: 60px;
  justify-content: center;
  width: 70px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-item svg {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  color: #fff;
}
.navlink.active {
  color: aqua;
}