.tap_container {
  display: flex;
  flex-direction: column;
  background: #333;
  height: auto;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.username_and_tap {
  height: 100vh;
  background: white;
}

.tap_part {
  border-radius: 20px;
  height: 100vh;
  width: 450px;
  text-align: center;
}

.profit h2 {
  font-size: 2em;
  color: #333;
}

.tap_all_coins_part {
  margin-bottom: 20px;
  align-items: center;
}

.tap_all_coins_part img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.tap_all_coins_part p {
  display: inline;
  font-size: 1.3em;
  color: #333;
}

.big_tap_btn_part {
  margin-bottom: 20px;
  position: relative;
}

.profit {
  border-radius: 15px;
  width: 300px;
  height: 80px;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  margin: auto;
  justify-content: center;
  display: flex;
  gap: 10px;
  background: rgb(255, 207, 215);
}

.big_tap_btn_part img {
  width: 300px;
  height: 290px;
  cursor: pointer;
}

.click-effect {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  pointer-events: none;
  animation: fadeOut 1s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.click-effect-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.boost_coin_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  color: white;
  width: 450px;
  margin-top: 20px;
}

.boost_info {
  margin: auto;
  display: flex;
  color: #333;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.boost_info svg {
  background: yellow;
}

.boost_info span {
  font-weight: 800;
  margin: auto;
}

.lightning-icon {
  width: 24px;
  height: 24px;
}

.boost_button {
  background: #ff5f5f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.boost_button:disabled {
  background: #888;
  cursor: not-allowed;
}

.boost_button img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
  margin: 50px 0 0 0;
  background-color: #333;
  color: white;
  max-height: 85px;
  font-size: 15px;
  z-index: 2;
}

.footer-item {
  height: 60px;
  justify-content: center;
  width: 70px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-item svg {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  color: #fff;
}

.footer-icon {
  margin-bottom: 5px;
}