.tap_container {
  height: 100vh;
  display: flex;
  background: #ddd;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.tap_username {
  width: 450px;
  margin-bottom: 20px;
}

.tap_part {
  width: 450px;
  text-align: center;
}

.profit h2 {
  font-size: 2em;
  color: #333;
}

.tap_all_coins_part {
  margin-bottom: 20px;
}

.tap_all_coins_part img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.tap_all_coins_part p {
  display: inline;
  font-size: 1.5em;
  color: #333;
}

.big_tap_btn_part {
  margin-bottom: 20px;
}

.profit {
  width: 270px;
  height: 70px;
  align-items: center;
  text-align: center;
  margin: auto;
  justify-content: center;
  display: flex;
  gap: 10px;
  background: rgb(255, 207, 215);
}

.big_tap_btn_part img {
  width: 380px;
  height: 370px;
  cursor: pointer;
}

.click-effect {
  position: absolute;
  font-size: 30px;
  color: black;
  pointer-events: none;
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
